.table-container {
    /* overflow-x: auto; */
    border: 1px solid rgba(159, 159, 159, 0.497);
}

.student-view-container,
.employee-view-container {
    /* padding-top: 1rem; */
    width: 100%;
    height: auto;
    display: flex;
    background-color: #fffefa;
    border: 1px solid rgba(159, 159, 159, 0.497);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: var(--icon-color);
    display: flex;
    flex-direction: column;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.table-cell {
    color: white;
}

.blueTableHead {
    background-color: #2196f3;
    color: white;
    font-weight: bold;
}

.disabled-button {
    color: red;
    cursor: not-allowed;
}

.input-table-search {
    margin: 2rem 0 0 0;
    width: 100%;
}

.table-view {
    padding: 0 1rem 0 1rem;
}

.table-container {
    margin: 0 0 2rem 0;

}

.btn-grp-table {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    /* width: 15%; */
}

.edit-view-btn,
.delete-view-btn,
.display-view-btn,
.add-view-btn {
    width: 100%;
    cursor: pointer;
    margin-right: 10px;
    color: #bdbdbd;
}

.edit-view-btn:hover {
    color: #0090dd;
}

.delete-view-btn:hover {
    color: red;
}

.display-view-btn:hover {
    color: gold;
}

.add-view-btn:hover {
    color: #4aae71;
}